[build]
  functions = "netlify/functions"

# Redirect all routes to index.html for client-side routing (SPA)
[[redirects]]
  from = "/.netlify/functions/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
